body{text-align:center; background-color:#F4EA5E;} 

h1,h1,h2 {font-family: Consolas, Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace; color: darkcyan; border-bottom: 1px solid black;}

p{font-family: Consolas, Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace; color: maroon;}